@media screen and (prefers-color-scheme: light) {
    :root {
      --bg-color: #{$color-lime-1};
      --form-bg-color: var(--bg-color);
      --main-font-color: #{$color-lime-6};

      --form-hover-bg-color: #{$color-lime-2};
      --button-hover-bg-color: #{$color-lime-6};

      --link-secondary-color: hsl(216.87, 99.99%, 49.48%);
      --link-color: hsl(240.84, 99.96%, 93.36%);


      --main-font: "iA Writer Quattro V";
      --mono-font: "iA Writer Mono V";

      --border-color: #{$color-lime-2};
    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-color: $color-lime-6;
        --main-font-color: hsl(241.96, 99.87%, 97.56%);

        --link-secondary-color: hsl(216.87, 99.99%, 49.48%);
        --link-color: hsl(240.84, 99.96%, 93.36%);


        --main-font: "iA Writer Quattro V";
        --mono-font: "iA Writer Mono V";
      }
}