@media screen and (prefers-color-scheme: light) {
    :root {
      --bg-color: #{$color-sky-1};
      --form-bg-color: var(--bg-color);
      --main-font-color: #{$color-sky-6};

      --form-hover-bg-color: #{$color-sky-2};
      --form-hover-color: #{$color-sky-5};

      --button-hover-bg-color: #{$color-sky-6};
      --button-hover-color: #{$color-sky-1};

      --main-font: "iA Writer Quattro V";
      --mono-font: "iA Writer Mono V";

      --border-color: #{$color-sky-2};
    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
      --bg-color: #{$color-sky-6};
      --form-bg-color: var(--bg-color);
      --main-font-color: #{$color-sky-1};

      --form-hover-bg-color: #{$color-sky-5};
      --form-hover-color: #{$color-sky-2}
      ;
      --button-hover-bg-color: #{$color-sky-1};
      --button-hover-color: #{$color-sky-6};

      --main-font: "iA Writer Quattro V";
      --mono-font: "iA Writer Mono V";

      --border-color: #{$color-sky-5};
      }
    }