form {
    width: 80%;
    padding-bottom: 40px;
}

input,
button {
    width: 100%;
    font-family: var(--main-font);
    font-size: 16px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--form-bg-color);
    color: var(--main-font-color);
}

input:hover {
    background-color: var(--form-hover-bg-color);
}

::placeholder {
    color: var(--main-font-color);

    &:hover {
        color: var(--form-hover-color);

    }
}


button {
    &:hover {
        background-color: var(--button-hover-bg-color);
        color: var(--button-hover-color);
    }
}

.tooltip {
    position: relative;

    &:hover::before {
        display: block;
    }

    &::before {
        content: attr(data-text);
        position: absolute;

        /* vertically center */
        top: 50%;
        transform: translateY(-50%);
        margin-top: 50px;
        right: -10px;

        width: 100px;
        font-size: 10px;
        background-color: var(--form-hover-bg-color);
        color: var(--main-font-color);
        padding: 10px;
        border-radius: 5px;

        display: none;

    }

}

.form-container {
    display: flex;
    justify-content: space-around;
}
.form-fields {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.form-field {
    padding: 0px 10px;
}

.form-field > span {
    font-size: 12px;
    color: gray;
    display: none;
}